body {
    background-color: rgb(245, 235, 235);
}
h1 { text-align: center; margin-left: 50px; margin-right: 50px; 
    font-family: Arial, Helvetica, sans-serif; color: rgb(58, 58, 66) ; padding: 50px;

    
}
p {
    margin-left: 50px; margin-right:50px; padding: 20px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: medium; 
    text-align: center; color: rgb(96, 96, 103); margin-left: 20px; margin-right: 20px;
}

ul { 
     padding: 20px; margin-left: 100px; margin-right:100px; background: rgba(235, 211, 211, 0.315);
     border-radius: 9px; border-width: 500px;
}
li { 
    padding: 10px;
}
div{ background-color: aliceblue; width: 20%;

}
